@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Spartan&display=swap');
/* GENERAL*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Spartan','Fredoka', sans-serif;
    
}

/* NAV */ 
#logo {
    width: 250px;
    margin-left: 20px;
}

#navBarLinks {
    margin-right: 20px;
}
#navBarLinks a:hover {
    color: red;
}

/* MAIN */
main {
    min-height: 40vh;
    background-image: url(./assets/img/bg.jpg) ;
    position: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.text-main {
    margin-top: 5%;
    padding-top: 30px ;
    padding-left: 30px;
}
.text-main h1 {
   
    font-size: 2.6em;
    font-weight: bold;
}
.text-main h3 {
    margin-top: 100px;

}

/* SERVICES */
.services {
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}
.card-services {
    border-radius: 10px;
    width: 350px;
}

/* ABOUT */
.about {
    background-color: #000;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-title {
    color: #fff;
}
.about-title h2{
  font-weight: bold;
}
.about-form input{
    height: 50px;
    width: 35vw;
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px;
}

.about-form button {
    margin-left: 10px;
    height: 50px;
    background-color: #fff;
    color: #000;
}
.about-form button:hover {
    color: red;
}
.footer {
   display: flex;
    justify-content: center;
    padding-top:5px ;
    margin-top: 10vh;
    margin-bottom: 0;
}